<div class="message"><%= flash[:notice] %></div>

<p class="box-content">
    <strong>Title:</strong>
    <%= @book.title %>
</p>

<p class="box-content">
    <strong>Body:</strong>
    <%= @book.body %>
</p>

<div class="box-action">
<%= link_to 'Edit', edit_book_path(@book.id) %>
|
<%= link_to 'Back', '/books' %>
</div>